.portfolio__container {
    overflow: initial;
    grid-template-columns: repeat(3, 450px);
    column-gap: 3rem;
    justify-content: center;
}

.portfolio__content {
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem 2rem;
}

.project__img {
    width: 100%;
    margin-bottom: 1.25rem;
}

.project__subtitle {
    font-size: var(--small-font-size);
    color: var(--text-color);
}

.project__title {
    font-size: var(--h2-font-size);
    margin-bottom: 1.25rem;
    margin: .5rem 0 1.25rem;
}

.project__button {
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    color: var(--title-color);
    font-size: var(--small-font-size);
}

.project__button i {
    font-size: 1rem;
    transition: transform .3s;
}

.project__button:hover i {
    transform: translateX(.25rem);
}